table {
    border-collapse:collapse;
    padding: 20px;
    background-color: lavender;
}
body{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
}
td {
    border: 1px solid black;
}

thead td {
    text-align: center;
    font-weight: bold;
    background-color: lightblue;
    
}
img {
    height: 220px;
    width: 220px;
}